In [160]:
import pandas as pd
import os
import datetime

In [31]:
DIRETORIO = "/home/samuel/bootcamp/projetos/env/desafio_modulo2/"

In [32]:
ds_jogadores = "dados_jogadores.csv"
ds_chess = "lista_jogadores_chess.json"

In [74]:
local_arquivo = os.path.join(DIRETORIO,ds_jogadores)
local_arquivo

'/home/samuel/bootcamp/projetos/env/desafio_modulo2/dados_jogadores.csv'

In [144]:
df_jogadores = pd.read_csv(local_arquivo, sep=';', encoding='latin-1')

In [145]:
df_jogadores.tail()

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [104]:
## avaliação de campos nulos
df_jogadores.isnull().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

In [146]:
## ajustando os nulos
df_jogadores.loc[df_jogadores['num_vitorias'].isnull(), 'num_vitorias'] = df_jogadores['total_partidas']-df_jogadores['num_derrotas'] 
df_jogadores.loc[df_jogadores['num_derrotas'].isnull(), 'num_derrotas'] = df_jogadores['total_partidas']-df_jogadores['num_vitorias'] 
df_jogadores.loc[df_jogadores['total_partidas'].isnull(), 'total_partidas'] = df_jogadores['num_vitorias']+df_jogadores['num_derrotas']

In [147]:
## tratando o codigo do jogador
df_jogadores.jogador = df_jogadores.jogador.str.split(' ').str[1]

In [113]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.0.3.tar.gz (88 kB)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.0.3-cp38-cp38-linux_x86_64.whl size=109315 sha256=7ed3a6507ae03a260de1d17bdab1fcd631e507c531061474015103e0738b9b11
  Stored in directory: /home/samuel/.cache/pip/wheels/3a/c1/c3/5a19639a551c921c2c2b39468f4278ce5aa27b4e386a4158e4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.0.3

In [114]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.3-cp38-cp38-manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.3 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-1.0.0-cp38-cp38-manylinux2010_x86_64.whl (165 kB)
     |████████████████████████████████| 165 kB 17.5 MB/s eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.0.0 sqlalchemy-1.4.3

In [115]:
import MySQLdb # importação da biblioteca mysqlclient
import sqlalchemy

In [116]:
user = 'admin'
password = 'admin'
host = 'localhost'
database = 'desafio_modulo2' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao #testar a string de conexão com o banco de dados.

'mysql://admin:admin@localhost/desafio_modulo2'

In [117]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [118]:
paises = list(df_jogadores.pais.unique())

In [119]:
paises

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [120]:
jogos = list(df_jogadores.jogo.unique())

In [121]:
jogos

['Dama', 'Jogo da velha', 'Xadrez']

In [122]:
df_jogadores.shape

(499, 8)

In [123]:
for pais in paises:
    try:
        query = f"""insert into pais (nome_pais) 
                     values ('{pais}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {pais}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {pais}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Chile
Registro inserido com sucesso: Brasil
Registro inserido com sucesso: Argentina
Registro inserido com sucesso: Uruguai
Registro inserido com sucesso: Paraguai

In [125]:
for jogo in jogos:
    try:
        query = f"""insert into jogo (nome_jogo) 
                     values ('{jogo}')"""
        conn.execute(query)
        print(f"Registro inserido com sucesso: {jogo}")
    except Exception as e:
        print(f"Não foi possível inserir o regristro {jogo}. O erro foi encontrado foi: {e}")

Registro inserido com sucesso: Dama
Registro inserido com sucesso: Jogo da velha
Registro inserido com sucesso: Xadrez

In [139]:
df_jogos = pd.read_sql('jogo', con=conn)
df_paises = pd.read_sql('pais', con=conn)

In [140]:
dict_jogos = df_jogos.set_index(df_jogos.nome_jogo)['cod_jogo'].to_dict()
dict_jogos

{'Dama': 1, 'Jogo da velha': 2, 'Xadrez': 3}

In [142]:
dict_paises = df_paises.set_index(df_paises.nome_pais)['cod_pais'].to_dict()
dict_paises

{'Chile': 1, 'Brasil': 2, 'Argentina': 3, 'Uruguai': 4, 'Paraguai': 5}

In [148]:
df_jogadores.pais = df_jogadores.pais.map(dict_paises)
df_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,1,Masculino,03/09/1990,Dama,1,14.0,0.0,14.0
1,2,Feminino,01/05/1986,Jogo da velha,1,39.0,20.0,59.0
2,3,Masculino,04/10/1964,Jogo da velha,2,26.0,3.0,29.0
3,4,Masculino,28/09/1979,Jogo da velha,3,9.0,72.0,81.0
4,5,Masculino,03/09/1978,Dama,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,495,Feminino,03/06/1974,Dama,1,52.0,28.0,80.0
495,496,Masculino,09/02/1959,Dama,1,13.0,51.0,64.0
496,497,Masculino,06/01/1962,Jogo da velha,3,57.0,23.0,80.0
497,498,Masculino,28/09/1958,Jogo da velha,1,5.0,3.0,8.0
498,499,Feminino,08/10/2004,Jogo da velha,5,1.0,86.0,87.0

In [149]:
df_jogadores.jogo = df_jogadores.jogo.map(dict_jogos)
df_jogadores

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,1,Masculino,03/09/1990,1,1,14.0,0.0,14.0
1,2,Feminino,01/05/1986,2,1,39.0,20.0,59.0
2,3,Masculino,04/10/1964,2,2,26.0,3.0,29.0
3,4,Masculino,28/09/1979,2,3,9.0,72.0,81.0
4,5,Masculino,03/09/1978,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,495,Feminino,03/06/1974,1,1,52.0,28.0,80.0
495,496,Masculino,09/02/1959,1,1,13.0,51.0,64.0
496,497,Masculino,06/01/1962,2,3,57.0,23.0,80.0
497,498,Masculino,28/09/1958,2,1,5.0,3.0,8.0
498,499,Feminino,08/10/2004,2,5,1.0,86.0,87.0

In [162]:
for jogador in df_jogadores.itertuples():
    cod_jogador = jogador.jogador
    genero = jogador.genero
    data_nascimento =  datetime.datetime.strptime(jogador.data_nascimento, "%d/%m/%Y").strftime('%Y-%m-%d')
    num_vitorias = jogador.num_vitorias
    num_derrotas = jogador.num_derrotas
    total_partidas = jogador.total_partidas
    cod_pais = jogador.pais
    cod_jogo = jogador.jogo
    try:        
        query = f"""insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo) 
                     values ('{cod_jogador}','{genero}', '{data_nascimento}', '{num_vitorias}', '{num_derrotas}', '{total_partidas}', '{cod_pais}', '{cod_jogo}')"""
        print(query)
        conn.execute(query)
        print(f"Registro inserido com sucesso: {cod_jogador}")
    except Exception as e:
        print(f'Não foi possível inserir o registro: {cod_jogador} Erro: {e}')

insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('1','Masculino', '1990-09-03', '14.0', '0.0', '14.0', '1', '1')
Registro inserido com sucesso: 1
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('2','Feminino', '1986-05-01', '39.0', '20.0', '59.0', '1', '2')
Registro inserido com sucesso: 2
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('3','Masculino', '1964-10-04', '26.0', '3.0', '29.0', '2', '2')
Registro inserido com sucesso: 3
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('4','Masculino', '1979-09-28', '9.0', '72.0', '81.0', '3', '2')
Registro inserido com sucesso: 4
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('5','Masculino', '1978-09-03', '1.0', '54.0', '55.0', '4', '1')
Registro inserido com sucesso: 5
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('6','Masculino', '1977-11-04', '88.0', '0.0', '88.0', '2', '3')
Registro inserido com sucesso: 6
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('7','Masculino', '1986-11-11', '53.0', '24.0', '77.0', '3', '3')
Registro inserido com sucesso: 7
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('8','Feminino', '1996-03-18', '35.0', '27.0', '62.0', '2', '2')
Registro inserido com sucesso: 8
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('9','Masculino', '1969-01-14', '27.0', '18.0', '45.0', '5', '1')
Registro inserido com sucesso: 9
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('10','Masculino', '2004-05-06', '4.0', '1.0', '5.0', '1', '3')
Registro inserido com sucesso: 10
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('11','Masculino', '1975-09-25', '18.0', '48.0', '66.0', '2', '3')
Registro inserido com sucesso: 11
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('12','Feminino', '1992-07-05', '22.0', '2.0', '24.0', '4', '3')
Registro inserido com sucesso: 12
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('13','Masculino', '1996-06-19', '13.0', '4.0', '17.0', '1', '3')
Registro inserido com sucesso: 13
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('14','Feminino', '1980-10-08', '22.0', '52.0', '74.0', '3', '1')
Registro inserido com sucesso: 14
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('15','Feminino', '1955-10-18', '38.0', '48.0', '86.0', '1', '1')
Registro inserido com sucesso: 15
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('16','Feminino', '1999-11-01', '86.0', '13.0', '99.0', '1', '3')
Registro inserido com sucesso: 16
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('17','Masculino', '1984-02-01', '41.0', '11.0', '52.0', '2', '3')
Registro inserido com sucesso: 17
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('18','Feminino', '1981-02-07', '53.0', '20.0', '73.0', '1', '2')
Registro inserido com sucesso: 18
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('19','Feminino', '2004-08-11', '4.0', '77.0', '81.0', '1', '3')
Registro inserido com sucesso: 19
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('20','Masculino', '1954-06-30', '28.0', '12.0', '40.0', '3', '2')
Registro inserido com sucesso: 20
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('21','Feminino', '1954-09-05', '10.0', '82.0', '92.0', '2', '3')
Registro inserido com sucesso: 21
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('22','Feminino', '1955-06-16', '40.0', '31.0', '71.0', '4', '3')
Registro inserido com sucesso: 22
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('23','Feminino', '1997-12-30', '11.0', '18.0', '29.0', '4', '3')
Registro inserido com sucesso: 23
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('24','Masculino', '1988-11-30', '5.0', '12.0', '17.0', '5', '3')
Registro inserido com sucesso: 24
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('25','Feminino', '1970-12-28', '8.0', '58.0', '66.0', '5', '2')
Registro inserido com sucesso: 25
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('26','Feminino', '1963-02-15', '4.0', '6.0', '10.0', '4', '2')
Registro inserido com sucesso: 26
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('27','Feminino', '1994-07-31', '84.0', '11.0', '95.0', '1', '2')
Registro inserido com sucesso: 27
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('28','Masculino', '1962-12-15', '10.0', '32.0', '42.0', '5', '3')
Registro inserido com sucesso: 28
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('29','Masculino', '1984-11-22', '9.0', '22.0', '31.0', '2', '1')
Registro inserido com sucesso: 29
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('30','Feminino', '2003-03-17', '10.0', '46.0', '56.0', '5', '3')
Registro inserido com sucesso: 30
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('31','Masculino', '1959-01-17', '38.0', '6.0', '44.0', '5', '1')
Registro inserido com sucesso: 31
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('32','Masculino', '1951-03-24', '2.0', '47.0', '49.0', '4', '2')
Registro inserido com sucesso: 32
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('33','Feminino', '1953-07-14', '46.0', '36.0', '82.0', '1', '3')
Registro inserido com sucesso: 33
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('34','Feminino', '1956-09-12', '16.0', '4.0', '20.0', '3', '3')
Registro inserido com sucesso: 34
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('35','Masculino', '1951-12-09', '33.0', '3.0', '36.0', '4', '3')
Registro inserido com sucesso: 35
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('36','Masculino', '1973-12-05', '48.0', '31.0', '79.0', '2', '2')
Registro inserido com sucesso: 36
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('37','Feminino', '1989-11-07', '36.0', '18.0', '54.0', '5', '1')
Registro inserido com sucesso: 37
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('38','Masculino', '1966-11-06', '1.0', '42.0', '43.0', '2', '1')
Registro inserido com sucesso: 38
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('39','Masculino', '1955-03-07', '23.0', '4.0', '27.0', '1', '2')
Registro inserido com sucesso: 39
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('40','Masculino', '1990-02-06', '8.0', '23.0', '31.0', '1', '2')
Registro inserido com sucesso: 40
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('41','Masculino', '1953-07-17', '8.0', '17.0', '25.0', '5', '1')
Registro inserido com sucesso: 41
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('42','Feminino', '1998-06-18', '1.0', '14.0', '15.0', '5', '1')
Registro inserido com sucesso: 42
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('43','Masculino', '1951-07-14', '31.0', '7.0', '38.0', '3', '1')
Registro inserido com sucesso: 43
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('44','Masculino', '1982-04-25', '16.0', '44.0', '60.0', '3', '2')
Registro inserido com sucesso: 44
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('45','Feminino', '1992-06-22', '23.0', '35.0', '58.0', '5', '3')
Registro inserido com sucesso: 45
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('46','Feminino', '2005-02-12', '2.0', '14.0', '16.0', '4', '1')
Registro inserido com sucesso: 46
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('47','Masculino', '1978-01-31', '17.0', '68.0', '85.0', '4', '1')
Registro inserido com sucesso: 47
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('48','Feminino', '2005-12-30', '46.0', '4.0', '50.0', '3', '1')
Registro inserido com sucesso: 48
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('49','Feminino', '1982-08-01', '4.0', '28.0', '32.0', '2', '1')
Registro inserido com sucesso: 49
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('50','Feminino', '1995-07-05', '41.0', '11.0', '52.0', '5', '3')
Registro inserido com sucesso: 50
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('51','Masculino', '1959-11-15', '74.0', '13.0', '87.0', '4', '3')
Registro inserido com sucesso: 51
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('52','Feminino', '1957-08-20', '18.0', '64.0', '82.0', '5', '1')
Registro inserido com sucesso: 52
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('53','Masculino', '1964-07-28', '67.0', '28.0', '95.0', '3', '2')
Registro inserido com sucesso: 53
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('54','Feminino', '1962-10-14', '38.0', '31.0', '69.0', '5', '1')
Registro inserido com sucesso: 54
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('55','Feminino', '1977-06-20', '34.0', '29.0', '63.0', '2', '1')
Registro inserido com sucesso: 55
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('56','Feminino', '1959-01-27', '51.0', '29.0', '80.0', '5', '1')
Registro inserido com sucesso: 56
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('57','Masculino', '2000-07-31', '35.0', '9.0', '44.0', '5', '2')
Registro inserido com sucesso: 57
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('58','Feminino', '1987-08-01', '2.0', '8.0', '10.0', '2', '1')
Registro inserido com sucesso: 58
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('59','Feminino', '1990-11-25', '9.0', '20.0', '29.0', '1', '1')
Registro inserido com sucesso: 59
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('60','Feminino', '1959-11-26', '38.0', '44.0', '82.0', '4', '1')
Registro inserido com sucesso: 60
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('61','Masculino', '1996-02-29', '32.0', '12.0', '44.0', '2', '3')
Registro inserido com sucesso: 61
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('62','Feminino', '1985-12-20', '9.0', '26.0', '35.0', '1', '2')
Registro inserido com sucesso: 62
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('63','Masculino', '2002-06-23', '25.0', '51.0', '76.0', '4', '1')
Registro inserido com sucesso: 63
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('64','Masculino', '1978-03-04', '2.0', '6.0', '8.0', '5', '2')
Registro inserido com sucesso: 64
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('65','Feminino', '1966-11-07', '8.0', '39.0', '47.0', '5', '2')
Registro inserido com sucesso: 65
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('66','Feminino', '1991-01-30', '34.0', '6.0', '40.0', '2', '1')
Registro inserido com sucesso: 66
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('67','Feminino', '1984-07-29', '11.0', '33.0', '44.0', '5', '1')
Registro inserido com sucesso: 67
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('68','Masculino', '1996-03-30', '34.0', '31.0', '65.0', '1', '2')
Registro inserido com sucesso: 68

insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('69','Masculino', '2003-03-15', '52.0', '20.0', '72.0', '1', '1')
Registro inserido com sucesso: 69
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('70','Masculino', '1980-07-09', '29.0', '60.0', '89.0', '1', '2')
Registro inserido com sucesso: 70
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('71','Masculino', '1988-06-25', '2.0', '3.0', '5.0', '5', '1')
Registro inserido com sucesso: 71
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('72','Masculino', '2005-03-27', '29.0', '7.0', '36.0', '5', '1')
Registro inserido com sucesso: 72
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('73','Feminino', '1975-06-10', '36.0', '38.0', '74.0', '3', '3')
Registro inserido com sucesso: 73
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('74','Masculino', '1969-11-20', '18.0', '19.0', '37.0', '3', '2')
Registro inserido com sucesso: 74
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('75','Masculino', '1970-05-22', '5.0', '1.0', '6.0', '5', '1')
Registro inserido com sucesso: 75
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('76','Feminino', '1956-09-02', '11.0', '6.0', '17.0', '4', '3')
Registro inserido com sucesso: 76
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('77','Feminino', '2004-08-01', '18.0', '9.0', '27.0', '1', '2')
Registro inserido com sucesso: 77
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('78','Feminino', '1981-11-19', '23.0', '6.0', '29.0', '4', '3')
Registro inserido com sucesso: 78
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('79','Feminino', '1953-09-15', '5.0', '27.0', '32.0', '1', '1')
Registro inserido com sucesso: 79
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('80','Masculino', '1989-04-05', '1.0', '5.0', '6.0', '1', '2')
Registro inserido com sucesso: 80
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('81','Masculino', '2001-06-23', '25.0', '51.0', '76.0', '2', '3')
Registro inserido com sucesso: 81
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('82','Masculino', '1995-03-24', '38.0', '13.0', '51.0', '2', '3')
Registro inserido com sucesso: 82
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('83','Feminino', '1997-06-15', '28.0', '51.0', '79.0', '4', '3')
Registro inserido com sucesso: 83
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('84','Masculino', '2000-07-23', '1.0', '5.0', '6.0', '3', '2')
Registro inserido com sucesso: 84
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('85','Masculino', '1968-10-07', '20.0', '2.0', '22.0', '5', '2')
Registro inserido com sucesso: 85
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('86','Masculino', '1957-04-07', '6.0', '33.0', '39.0', '5', '2')
Registro inserido com sucesso: 86
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('87','Feminino', '1975-05-25', '80.0', '6.0', '86.0', '3', '1')
Registro inserido com sucesso: 87
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('88','Feminino', '1957-03-21', '50.0', '19.0', '69.0', '2', '3')
Registro inserido com sucesso: 88
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('89','Masculino', '1998-03-26', '22.0', '9.0', '31.0', '1', '2')
Registro inserido com sucesso: 89
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('90','Masculino', '2002-12-17', '2.0', '4.0', '6.0', '3', '2')
Registro inserido com sucesso: 90
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('91','Feminino', '1963-12-18', '39.0', '16.0', '55.0', '3', '2')
Registro inserido com sucesso: 91
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('92','Masculino', '1992-06-11', '90.0', '9.0', '99.0', '1', '1')
Registro inserido com sucesso: 92
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('93','Masculino', '1955-11-26', '16.0', '80.0', '96.0', '5', '2')
Registro inserido com sucesso: 93
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('94','Feminino', '1972-03-18', '23.0', '3.0', '26.0', '4', '1')
Registro inserido com sucesso: 94
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('95','Masculino', '1951-12-26', '6.0', '53.0', '59.0', '5', '1')
Registro inserido com sucesso: 95
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('96','Feminino', '1999-10-13', '18.0', '2.0', '20.0', '3', '2')
Registro inserido com sucesso: 96
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('97','Feminino', '1987-02-01', '39.0', '0.0', '39.0', '1', '1')
Registro inserido com sucesso: 97
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('98','Feminino', '1980-04-16', '9.0', '1.0', '10.0', '5', '1')
Registro inserido com sucesso: 98
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('99','Feminino', '1976-09-18', '7.0', '20.0', '27.0', '2', '1')
Registro inserido com sucesso: 99
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('100','Masculino', '1967-12-04', '34.0', '64.0', '98.0', '3', '1')
Registro inserido com sucesso: 100
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('101','Masculino', '1997-03-12', '38.0', '2.0', '40.0', '1', '3')
Registro inserido com sucesso: 101
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('102','Feminino', '1984-02-06', '12.0', '6.0', '18.0', '5', '1')
Registro inserido com sucesso: 102
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('103','Feminino', '1964-10-28', '30.0', '65.0', '95.0', '5', '1')
Registro inserido com sucesso: 103
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('104','Masculino', '1953-02-02', '6.0', '19.0', '25.0', '5', '3')
Registro inserido com sucesso: 104
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('105','Feminino', '2002-11-22', '14.0', '86.0', '100.0', '2', '2')
Registro inserido com sucesso: 105
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('106','Feminino', '1951-07-24', '14.0', '2.0', '16.0', '5', '1')

Registro inserido com sucesso: 106
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('107','Feminino', '1990-02-19', '1.0', '5.0', '6.0', '4', '1')
Registro inserido com sucesso: 107
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('108','Feminino', '1958-10-01', '5.0', '13.0', '18.0', '2', '3')
Registro inserido com sucesso: 108
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('109','Feminino', '2003-05-27', '3.0', '8.0', '11.0', '3', '3')
Registro inserido com sucesso: 109
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('110','Masculino', '1992-01-12', '45.0', '15.0', '60.0', '1', '2')
Registro inserido com sucesso: 110
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('111','Feminino', '1981-07-31', '10.0', '0.0', '10.0', '5', '2')
Registro inserido com sucesso: 111
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('112','Feminino', '1989-05-24', '43.0', '41.0', '84.0', '5', '1')
Registro inserido com sucesso: 112
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('113','Masculino', '1970-04-27', '44.0', '2.0', '46.0', '4', '1')
Registro inserido com sucesso: 113
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('114','Feminino', '1997-11-25', '36.0', '52.0', '88.0', '4', '2')
Registro inserido com sucesso: 114
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('115','Masculino', '1968-02-02', '34.0', '39.0', '73.0', '2', '2')
Registro inserido com sucesso: 115
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('116','Feminino', '2001-05-21', '61.0', '31.0', '92.0', '4', '2')
Registro inserido com sucesso: 116
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('117','Masculino', '1976-07-11', '14.0', '43.0', '57.0', '5', '1')
Registro inserido com sucesso: 117
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('118','Masculino', '1991-09-10', '28.0', '70.0', '98.0', '1', '3')
Registro inserido com sucesso: 118
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('119','Feminino', '1953-08-26', '23.0', '49.0', '72.0', '3', '2')
Registro inserido com sucesso: 119
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('120','Feminino', '1956-10-29', '9.0', '23.0', '32.0', '1', '2')
Registro inserido com sucesso: 120
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('121','Masculino', '1981-06-23', '25.0', '27.0', '52.0', '2', '2')
Registro inserido com sucesso: 121
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('122','Masculino', '1967-06-20', '52.0', '8.0', '60.0', '1', '2')
Registro inserido com sucesso: 122
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('123','Masculino', '1983-03-06', '24.0', '68.0', '92.0', '2', '3')
Registro inserido com sucesso: 123
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('124','Feminino', '1977-11-29', '4.0', '18.0', '22.0', '5', '1')
Registro inserido com sucesso: 124
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('125','Masculino', '1957-03-05', '29.0', '0.0', '29.0', '1', '2')
Registro inserido com sucesso: 125
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('126','Masculino', '1955-08-10', '57.0', '13.0', '70.0', '5', '3')
Registro inserido com sucesso: 126
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('127','Feminino', '1985-12-23', '27.0', '18.0', '45.0', '3', '2')
Registro inserido com sucesso: 127
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('128','Masculino', '1958-12-22', '27.0', '10.0', '37.0', '2', '1')
Registro inserido com sucesso: 128
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('129','Masculino', '1958-10-24', '3.0', '4.0', '7.0', '3', '2')
Registro inserido com sucesso: 129
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('130','Masculino', '1961-01-07', '70.0', '22.0', '92.0', '1', '3')
Registro inserido com sucesso: 130
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('131','Feminino', '1987-03-12', '23.0', '4.0', '27.0', '4', '1')
Registro inserido com sucesso: 131
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('132','Feminino', '1984-03-16', '20.0', '18.0', '38.0', '5', '2')
Registro inserido com sucesso: 132
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('133','Feminino', '1975-10-23', '11.0', '66.0', '77.0', '5', '2')
Registro inserido com sucesso: 133
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('134','Feminino', '1966-01-22', '89.0', '3.0', '92.0', '2', '1')
Registro inserido com sucesso: 134
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('135','Feminino', '1976-01-09', '7.0', '27.0', '34.0', '1', '1')
Registro inserido com sucesso: 135
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('136','Masculino', '2003-05-14', '45.0', '19.0', '64.0', '4', '3')
Registro inserido com sucesso: 136
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('137','Masculino', '2002-04-04', '34.0', '42.0', '76.0', '3', '1')
Registro inserido com sucesso: 137
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('138','Feminino', '1963-02-16', '16.0', '28.0', '44.0', '1', '2')
Registro inserido com sucesso: 138
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('139','Masculino', '1968-01-19', '27.0', '23.0', '50.0', '4', '1')
Registro inserido com sucesso: 139
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('140','Masculino', '1956-05-29', '27.0', '10.0', '37.0', '1', '3')
Registro inserido com sucesso: 140
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('141','Masculino', '1984-06-14', '32.0', '0.0', '32.0', '2', '1')
Registro inserido com sucesso: 141
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('142','Masculino', '1973-08-27', '47.0', '34.0', '81.0', '5', '1')
Registro inserido com sucesso: 142
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('143','Masculino', '1995-10-21', '31.0', '9.0', '40.0', '3', '2')
Registro inserido com sucesso: 143
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('144','Feminino', '1952-02-22', '1.0', '30.0', '31.0', '3', '3')
Registro inserido com sucesso: 144
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('145','Masculino', '1995-02-13', '31.0', '9.0', '40.0', '2', '2')
Registro inserido com sucesso: 145
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('146','Feminino', '1996-03-01', '81.0', '4.0', '85.0', '2', '3')
Registro inserido com sucesso: 146
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('147','Masculino', '1974-10-07', '14.0', '9.0', '23.0', '2', '1')
Registro inserido com sucesso: 147
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('148','Feminino', '1961-05-08', '15.0', '31.0', '46.0', '3', '1')

Registro inserido com sucesso: 148
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('149','Feminino', '1982-04-10', '24.0', '17.0', '41.0', '4', '3')
Registro inserido com sucesso: 149
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('150','Feminino', '1995-03-02', '1.0', '0.0', '1.0', '5', '2')
Registro inserido com sucesso: 150
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('151','Feminino', '1976-10-26', '5.0', '4.0', '9.0', '3', '3')
Registro inserido com sucesso: 151
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('152','Masculino', '1997-09-07', '2.0', '8.0', '10.0', '3', '2')
Registro inserido com sucesso: 152
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('153','Feminino', '1955-10-11', '41.0', '19.0', '60.0', '4', '2')
Registro inserido com sucesso: 153
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('154','Feminino', '1966-04-30', '11.0', '25.0', '36.0', '4', '1')
Registro inserido com sucesso: 154
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('155','Masculino', '1968-04-17', '12.0', '38.0', '50.0', '4', '3')
Registro inserido com sucesso: 155
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('156','Feminino', '1964-05-18', '23.0', '7.0', '30.0', '1', '3')
Registro inserido com sucesso: 156
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('157','Feminino', '1950-06-02', '12.0', '2.0', '14.0', '3', '3')
Registro inserido com sucesso: 157
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('158','Masculino', '2003-03-07', '5.0', '0.0', '5.0', '2', '1')
Registro inserido com sucesso: 158
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('159','Feminino', '1986-08-31', '51.0', '18.0', '69.0', '5', '1')
Registro inserido com sucesso: 159
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('160','Feminino', '1996-05-15', '20.0', '59.0', '79.0', '5', '1')
Registro inserido com sucesso: 160
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('161','Feminino', '2005-05-09', '22.0', '61.0', '83.0', '4', '3')
Registro inserido com sucesso: 161
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('162','Masculino', '1984-01-31', '26.0', '13.0', '39.0', '3', '3')
Registro inserido com sucesso: 162
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('163','Masculino', '1971-03-02', '18.0', '43.0', '61.0', '1', '1')
Registro inserido com sucesso: 163
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('164','Feminino', '1957-02-20', '17.0', '17.0', '34.0', '1', '1')
Registro inserido com sucesso: 164
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('165','Feminino', '2004-06-30', '39.0', '39.0', '78.0', '5', '2')
Registro inserido com sucesso: 165
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('166','Masculino', '2000-11-10', '14.0', '7.0', '21.0', '1', '2')
Registro inserido com sucesso: 166
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('167','Feminino', '1988-05-29', '45.0', '15.0', '60.0', '3', '3')
Registro inserido com sucesso: 167
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('168','Masculino', '1950-08-25', '7.0', '6.0', '13.0', '4', '1')
Registro inserido com sucesso: 168
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('169','Feminino', '1996-12-03', '53.0', '40.0', '93.0', '3', '2')
Registro inserido com sucesso: 169
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('170','Feminino', '1985-12-03', '27.0', '18.0', '45.0', '3', '3')
Registro inserido com sucesso: 170
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('171','Masculino', '1971-06-14', '15.0', '41.0', '56.0', '1', '2')
Registro inserido com sucesso: 171
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('172','Masculino', '1954-06-18', '47.0', '35.0', '82.0', '4', '1')
Registro inserido com sucesso: 172
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('173','Masculino', '1976-08-02', '26.0', '27.0', '53.0', '2', '2')
Registro inserido com sucesso: 173
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('174','Masculino', '1981-06-22', '34.0', '14.0', '48.0', '5', '3')
Registro inserido com sucesso: 174
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('175','Masculino', '1994-06-26', '11.0', '74.0', '85.0', '1', '3')
Registro inserido com sucesso: 175
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('176','Feminino', '1975-11-09', '36.0', '1.0', '37.0', '5', '1')
Registro inserido com sucesso: 176
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('177','Feminino', '1966-01-30', '32.0', '55.0', '87.0', '5', '1')
Registro inserido com sucesso: 177
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('178','Feminino', '1960-10-31', '79.0', '16.0', '95.0', '1', '3')
Registro inserido com sucesso: 178
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('179','Masculino', '1973-01-11', '44.0', '34.0', '78.0', '1', '1')
Registro inserido com sucesso: 179
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('180','Masculino', '1968-03-19', '4.0', '47.0', '51.0', '5', '1')
Registro inserido com sucesso: 180
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('181','Feminino', '1979-01-18', '8.0', '89.0', '97.0', '5', '3')
Registro inserido com sucesso: 181
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('182','Masculino', '1968-03-29', '34.0', '3.0', '37.0', '2', '1')
Registro inserido com sucesso: 182
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('183','Feminino', '2000-08-31', '4.0', '7.0', '11.0', '2', '2')
Registro inserido com sucesso: 183
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('184','Feminino', '1964-10-06', '51.0', '6.0', '57.0', '5', '1')
Registro inserido com sucesso: 184
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('185','Feminino', '1978-12-05', '51.0', '45.0', '96.0', '3', '2')
Registro inserido com sucesso: 185
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('186','Feminino', '2004-09-01', '80.0', '3.0', '83.0', '2', '3')

Registro inserido com sucesso: 186
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('187','Feminino', '1976-09-01', '66.0', '0.0', '66.0', '4', '3')
Registro inserido com sucesso: 187
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('188','Feminino', '1987-10-20', '11.0', '64.0', '75.0', '5', '2')
Registro inserido com sucesso: 188
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('189','Feminino', '1984-12-15', '78.0', '3.0', '81.0', '3', '2')
Registro inserido com sucesso: 189
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('190','Feminino', '1975-05-20', '23.0', '35.0', '58.0', '5', '2')
Registro inserido com sucesso: 190
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('191','Feminino', '1984-06-10', '14.0', '22.0', '36.0', '3', '3')
Registro inserido com sucesso: 191
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('192','Feminino', '2002-09-12', '49.0', '36.0', '85.0', '3', '2')
Registro inserido com sucesso: 192
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('193','Feminino', '1967-03-17', '27.0', '42.0', '69.0', '2', '2')
Registro inserido com sucesso: 193
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('194','Masculino', '1990-05-09', '42.0', '23.0', '65.0', '1', '2')
Registro inserido com sucesso: 194
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('195','Masculino', '1969-09-11', '8.0', '3.0', '11.0', '1', '3')
Registro inserido com sucesso: 195
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('196','Masculino', '1988-12-26', '12.0', '4.0', '16.0', '4', '3')
Registro inserido com sucesso: 196
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('197','Feminino', '1979-07-12', '9.0', '29.0', '38.0', '1', '1')
Registro inserido com sucesso: 197
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('198','Masculino', '1971-02-14', '32.0', '7.0', '39.0', '3', '1')
Registro inserido com sucesso: 198
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('199','Masculino', '2003-03-21', '4.0', '8.0', '12.0', '2', '2')
Registro inserido com sucesso: 199
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('200','Feminino', '1982-05-11', '3.0', '34.0', '37.0', '1', '2')
Registro inserido com sucesso: 200
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('201','Feminino', '2005-06-02', '3.0', '4.0', '7.0', '3', '3')
Registro inserido com sucesso: 201
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('202','Masculino', '1977-05-28', '7.0', '28.0', '35.0', '5', '2')
Registro inserido com sucesso: 202
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('203','Feminino', '1953-09-04', '50.0', '27.0', '77.0', '5', '2')
Registro inserido com sucesso: 203
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('204','Masculino', '2001-01-29', '10.0', '26.0', '36.0', '1', '1')
Registro inserido com sucesso: 204
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('205','Feminino', '1953-06-30', '12.0', '39.0', '51.0', '5', '1')
Registro inserido com sucesso: 205
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('206','Masculino', '1967-11-17', '18.0', '2.0', '20.0', '1', '3')
Registro inserido com sucesso: 206
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('207','Feminino', '1961-02-18', '1.0', '41.0', '42.0', '2', '3')
Registro inserido com sucesso: 207
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('208','Masculino', '1958-02-10', '10.0', '0.0', '10.0', '4', '1')
Registro inserido com sucesso: 208
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('209','Feminino', '1979-12-26', '42.0', '31.0', '73.0', '4', '1')
Registro inserido com sucesso: 209
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('210','Masculino', '1988-10-29', '10.0', '56.0', '66.0', '2', '2')
Registro inserido com sucesso: 210
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('211','Masculino', '1984-10-06', '40.0', '22.0', '62.0', '4', '2')
Registro inserido com sucesso: 211
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('212','Feminino', '1972-08-31', '26.0', '19.0', '45.0', '1', '3')
Registro inserido com sucesso: 212
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('213','Masculino', '1982-01-19', '8.0', '67.0', '75.0', '1', '2')
Registro inserido com sucesso: 213
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('214','Feminino', '1966-03-19', '1.0', '15.0', '16.0', '5', '2')
Registro inserido com sucesso: 214
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('215','Feminino', '1955-04-22', '11.0', '4.0', '15.0', '4', '2')
Registro inserido com sucesso: 215
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('216','Masculino', '2004-10-16', '58.0', '1.0', '59.0', '1', '3')
Registro inserido com sucesso: 216
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('217','Masculino', '1997-07-28', '50.0', '11.0', '61.0', '1', '1')
Registro inserido com sucesso: 217
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('218','Masculino', '1964-09-28', '27.0', '13.0', '40.0', '1', '1')
Registro inserido com sucesso: 218
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('219','Masculino', '1989-03-26', '7.0', '49.0', '56.0', '3', '2')
Registro inserido com sucesso: 219
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('220','Feminino', '1979-10-28', '89.0', '9.0', '98.0', '1', '3')
Registro inserido com sucesso: 220
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('221','Masculino', '2003-07-19', '1.0', '49.0', '50.0', '1', '1')
Registro inserido com sucesso: 221
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('222','Feminino', '1980-07-19', '8.0', '68.0', '76.0', '4', '3')
Registro inserido com sucesso: 222
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('223','Feminino', '1951-09-16', '79.0', '11.0', '90.0', '2', '3')
Registro inserido com sucesso: 223
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('224','Feminino', '1969-05-04', '2.0', '8.0', '10.0', '2', '1')
Registro inserido com sucesso: 224
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('225','Feminino', '2003-09-10', '3.0', '13.0', '16.0', '1', '3')
Registro inserido com sucesso: 225
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('226','Feminino', '2004-07-31', '8.0', '0.0', '8.0', '1', '2')
Registro inserido com sucesso: 226
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('227','Masculino', '1968-08-10', '12.0', '8.0', '20.0', '2', '3')
Registro inserido com sucesso: 227
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('228','Masculino', '1981-12-16', '13.0', '5.0', '18.0', '2', '3')
Registro inserido com sucesso: 228
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('229','Feminino', '1953-07-30', '3.0', '4.0', '7.0', '1', '1')
Registro inserido com sucesso: 229
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('230','Feminino', '2001-01-12', '16.0', '19.0', '35.0', '1', '3')
Registro inserido com sucesso: 230
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('231','Masculino', '1961-09-01', '12.0', '11.0', '23.0', '5', '1')
Registro inserido com sucesso: 231
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('232','Feminino', '1995-11-23', '69.0', '26.0', '95.0', '5', '3')
Registro inserido com sucesso: 232
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('233','Masculino', '1970-06-12', '12.0', '78.0', '90.0', '4', '2')
Registro inserido com sucesso: 233
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('234','Masculino', '1975-05-10', '39.0', '5.0', '44.0', '5', '2')
Registro inserido com sucesso: 234
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('235','Feminino', '1976-12-17', '10.0', '52.0', '62.0', '2', '3')
Registro inserido com sucesso: 235
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('236','Feminino', '1992-05-27', '4.0', '11.0', '15.0', '1', '3')
Registro inserido com sucesso: 236
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('237','Feminino', '1950-01-02', '11.0', '31.0', '42.0', '2', '1')
Registro inserido com sucesso: 237
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('238','Feminino', '1963-09-19', '8.0', '48.0', '56.0', '5', '1')
Registro inserido com sucesso: 238
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('239','Masculino', '1961-08-23', '48.0', '34.0', '82.0', '3', '3')
Registro inserido com sucesso: 239
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('240','Masculino', '1983-12-10', '15.0', '41.0', '56.0', '3', '1')
Registro inserido com sucesso: 240
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('241','Feminino', '2000-11-04', '8.0', '38.0', '46.0', '5', '2')
Registro inserido com sucesso: 241
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('242','Masculino', '1992-06-08', '27.0', '71.0', '98.0', '5', '1')
Registro inserido com sucesso: 242
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('243','Feminino', '1961-08-29', '22.0', '61.0', '83.0', '1', '2')
Registro inserido com sucesso: 243
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('244','Masculino', '1970-09-20', '3.0', '4.0', '7.0', '2', '3')
Registro inserido com sucesso: 244
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('245','Masculino', '1979-04-13', '19.0', '27.0', '46.0', '3', '1')
Registro inserido com sucesso: 245
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('246','Masculino', '1997-11-05', '12.0', '4.0', '16.0', '2', '3')
Registro inserido com sucesso: 246
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('247','Feminino', '1954-02-14', '33.0', '56.0', '89.0', '3', '1')

Registro inserido com sucesso: 247
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('248','Feminino', '1965-02-28', '37.0', '13.0', '50.0', '2', '2')
Registro inserido com sucesso: 248
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('249','Feminino', '1986-01-19', '28.0', '7.0', '35.0', '5', '2')
Registro inserido com sucesso: 249
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('250','Feminino', '1967-01-18', '27.0', '0.0', '27.0', '4', '3')
Registro inserido com sucesso: 250
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('251','Masculino', '1975-05-07', '27.0', '3.0', '30.0', '4', '2')
Registro inserido com sucesso: 251
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('252','Masculino', '1985-08-18', '1.0', '27.0', '28.0', '1', '2')
Registro inserido com sucesso: 252
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('253','Feminino', '1976-05-24', '2.0', '9.0', '11.0', '4', '1')
Registro inserido com sucesso: 253
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('254','Feminino', '1958-05-23', '1.0', '15.0', '16.0', '2', '2')
Registro inserido com sucesso: 254
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('255','Masculino', '2003-03-14', '33.0', '9.0', '42.0', '2', '3')
Registro inserido com sucesso: 255
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('256','Feminino', '2000-09-28', '1.0', '72.0', '73.0', '1', '3')
Registro inserido com sucesso: 256
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('257','Feminino', '1967-07-24', '15.0', '1.0', '16.0', '4', '1')
Registro inserido com sucesso: 257
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('258','Masculino', '1975-07-30', '13.0', '2.0', '15.0', '5', '2')
Registro inserido com sucesso: 258
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('259','Masculino', '2005-08-02', '18.0', '75.0', '93.0', '1', '1')
Registro inserido com sucesso: 259
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('260','Masculino', '1958-06-09', '17.0', '5.0', '22.0', '5', '2')
Registro inserido com sucesso: 260
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('261','Masculino', '1999-08-19', '12.0', '32.0', '44.0', '4', '3')
Registro inserido com sucesso: 261
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('262','Feminino', '1972-09-07', '42.0', '16.0', '58.0', '4', '3')
Registro inserido com sucesso: 262
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('263','Masculino', '2004-09-13', '62.0', '1.0', '63.0', '5', '1')
Registro inserido com sucesso: 263
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('264','Masculino', '1961-12-03', '59.0', '19.0', '78.0', '5', '1')
Registro inserido com sucesso: 264
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('265','Masculino', '1961-06-26', '28.0', '46.0', '74.0', '2', '2')
Registro inserido com sucesso: 265
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('266','Feminino', '1961-12-21', '7.0', '52.0', '59.0', '4', '2')
Registro inserido com sucesso: 266
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('267','Feminino', '2003-06-28', '1.0', '9.0', '10.0', '3', '3')
Registro inserido com sucesso: 267
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('268','Masculino', '1970-05-15', '22.0', '17.0', '39.0', '2', '2')
Registro inserido com sucesso: 268
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('269','Feminino', '1978-02-17', '6.0', '1.0', '7.0', '5', '3')
Registro inserido com sucesso: 269
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('270','Feminino', '1974-06-02', '43.0', '5.0', '48.0', '4', '1')
Registro inserido com sucesso: 270
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('271','Feminino', '1989-01-04', '4.0', '0.0', '4.0', '2', '3')
Registro inserido com sucesso: 271
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('272','Feminino', '1976-07-29', '50.0', '36.0', '86.0', '1', '1')
Registro inserido com sucesso: 272
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('273','Feminino', '1962-06-07', '22.0', '28.0', '50.0', '2', '3')
Registro inserido com sucesso: 273
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('274','Feminino', '1971-12-23', '21.0', '21.0', '42.0', '2', '1')
Registro inserido com sucesso: 274
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('275','Masculino', '1987-01-31', '18.0', '55.0', '73.0', '5', '2')
Registro inserido com sucesso: 275
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('276','Masculino', '1991-12-09', '31.0', '16.0', '47.0', '2', '3')
Registro inserido com sucesso: 276
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('277','Feminino', '1972-05-16', '22.0', '4.0', '26.0', '1', '1')
Registro inserido com sucesso: 277
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('278','Feminino', '1973-04-25', '2.0', '21.0', '23.0', '1', '3')
Registro inserido com sucesso: 278
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('279','Masculino', '1965-07-06', '13.0', '54.0', '67.0', '1', '1')
Registro inserido com sucesso: 279
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('280','Masculino', '2002-04-17', '39.0', '54.0', '93.0', '2', '1')
Registro inserido com sucesso: 280
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('281','Feminino', '1958-05-28', '6.0', '83.0', '89.0', '2', '2')
Registro inserido com sucesso: 281
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('282','Feminino', '1988-04-11', '53.0', '23.0', '76.0', '2', '1')
Registro inserido com sucesso: 282
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('283','Feminino', '1986-03-29', '2.0', '8.0', '10.0', '1', '2')
Registro inserido com sucesso: 283
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('284','Masculino', '1978-04-28', '14.0', '3.0', '17.0', '1', '3')
Registro inserido com sucesso: 284
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('285','Masculino', '1987-03-28', '41.0', '50.0', '91.0', '5', '3')

Registro inserido com sucesso: 285
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('286','Masculino', '1982-11-20', '38.0', '29.0', '67.0', '5', '3')
Registro inserido com sucesso: 286
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('287','Masculino', '2004-08-02', '48.0', '25.0', '73.0', '2', '3')
Registro inserido com sucesso: 287
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('288','Masculino', '1952-02-01', '3.0', '14.0', '17.0', '2', '3')
Registro inserido com sucesso: 288
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('289','Masculino', '1982-10-24', '1.0', '92.0', '93.0', '4', '2')
Registro inserido com sucesso: 289
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('290','Masculino', '1955-10-23', '32.0', '43.0', '75.0', '1', '1')
Registro inserido com sucesso: 290
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('291','Masculino', '1982-09-10', '27.0', '55.0', '82.0', '5', '1')
Registro inserido com sucesso: 291
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('292','Feminino', '1974-04-01', '26.0', '4.0', '30.0', '5', '2')
Registro inserido com sucesso: 292
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('293','Masculino', '1974-08-10', '1.0', '1.0', '2.0', '4', '2')
Registro inserido com sucesso: 293
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('294','Masculino', '1989-02-11', '19.0', '3.0', '22.0', '5', '2')
Registro inserido com sucesso: 294
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('295','Feminino', '1960-11-03', '10.0', '20.0', '30.0', '3', '2')
Registro inserido com sucesso: 295
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('296','Masculino', '1998-02-01', '8.0', '26.0', '34.0', '1', '2')
Registro inserido com sucesso: 296
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('297','Masculino', '1960-08-01', '41.0', '4.0', '45.0', '4', '3')
Registro inserido com sucesso: 297
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('298','Masculino', '1967-08-27', '7.0', '1.0', '8.0', '3', '1')
Registro inserido com sucesso: 298
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('299','Masculino', '1996-05-19', '8.0', '89.0', '97.0', '1', '3')
Registro inserido com sucesso: 299
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('300','Masculino', '1999-04-08', '1.0', '2.0', '3.0', '3', '3')
Registro inserido com sucesso: 300
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('301','Feminino', '2004-06-03', '47.0', '33.0', '80.0', '2', '1')
Registro inserido com sucesso: 301
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('302','Masculino', '1950-04-19', '21.0', '26.0', '47.0', '2', '2')
Registro inserido com sucesso: 302
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('303','Masculino', '1961-02-11', '36.0', '45.0', '81.0', '1', '3')
Registro inserido com sucesso: 303
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('304','Masculino', '2003-11-19', '26.0', '11.0', '37.0', '3', '2')
Registro inserido com sucesso: 304
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('305','Feminino', '1976-04-24', '12.0', '10.0', '22.0', '3', '3')
Registro inserido com sucesso: 305
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('306','Feminino', '2000-08-15', '11.0', '16.0', '27.0', '5', '1')
Registro inserido com sucesso: 306
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('307','Masculino', '1988-05-05', '20.0', '2.0', '22.0', '4', '2')
Registro inserido com sucesso: 307
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('308','Masculino', '1962-03-22', '19.0', '64.0', '83.0', '1', '3')
Registro inserido com sucesso: 308
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('309','Feminino', '1958-05-25', '9.0', '0.0', '9.0', '5', '2')
Registro inserido com sucesso: 309
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('310','Masculino', '1974-03-16', '10.0', '20.0', '30.0', '1', '2')
Registro inserido com sucesso: 310
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('311','Feminino', '1993-12-22', '2.0', '28.0', '30.0', '2', '1')
Registro inserido com sucesso: 311
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('312','Feminino', '1960-05-30', '25.0', '6.0', '31.0', '4', '1')
Registro inserido com sucesso: 312
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('313','Masculino', '1997-01-06', '19.0', '30.0', '49.0', '5', '3')
Registro inserido com sucesso: 313
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('314','Masculino', '1964-03-12', '9.0', '79.0', '88.0', '4', '3')
Registro inserido com sucesso: 314
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('315','Masculino', '1980-03-01', '15.0', '1.0', '16.0', '3', '2')
Registro inserido com sucesso: 315
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('316','Masculino', '1976-09-19', '81.0', '15.0', '96.0', '4', '3')
Registro inserido com sucesso: 316
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('317','Feminino', '1969-05-27', '22.0', '71.0', '93.0', '4', '3')
Registro inserido com sucesso: 317
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('318','Masculino', '1985-02-09', '25.0', '4.0', '29.0', '4', '3')
Registro inserido com sucesso: 318
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('319','Feminino', '1983-06-29', '10.0', '24.0', '34.0', '4', '2')
Registro inserido com sucesso: 319
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('320','Feminino', '2001-09-13', '7.0', '6.0', '13.0', '4', '3')
Registro inserido com sucesso: 320
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('321','Feminino', '1986-04-02', '21.0', '17.0', '38.0', '2', '1')
Registro inserido com sucesso: 321
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('322','Masculino', '1964-03-10', '9.0', '68.0', '77.0', '4', '2')
Registro inserido com sucesso: 322
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('323','Feminino', '2004-06-23', '19.0', '0.0', '19.0', '1', '1')
Registro inserido com sucesso: 323
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('324','Feminino', '1994-03-23', '6.0', '1.0', '7.0', '2', '1')
Registro inserido com sucesso: 324
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('325','Feminino', '1968-05-20', '12.0', '59.0', '71.0', '3', '2')
Registro inserido com sucesso: 325
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('326','Masculino', '1987-07-05', '46.0', '21.0', '67.0', '1', '1')
Registro inserido com sucesso: 326
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('327','Feminino', '1964-05-12', '11.0', '44.0', '55.0', '4', '3')
Registro inserido com sucesso: 327
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('328','Feminino', '1968-10-17', '9.0', '41.0', '50.0', '4', '1')

Registro inserido com sucesso: 328
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('329','Masculino', '1987-08-12', '30.0', '8.0', '38.0', '3', '2')
Registro inserido com sucesso: 329
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('330','Masculino', '1994-09-11', '72.0', '4.0', '76.0', '1', '2')
Registro inserido com sucesso: 330
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('331','Feminino', '1959-10-03', '1.0', '1.0', '2.0', '3', '2')
Registro inserido com sucesso: 331
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('332','Feminino', '2000-03-25', '59.0', '12.0', '71.0', '1', '2')
Registro inserido com sucesso: 332
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('333','Masculino', '2004-03-25', '48.0', '2.0', '50.0', '3', '1')
Registro inserido com sucesso: 333
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('334','Masculino', '1976-08-13', '50.0', '5.0', '55.0', '1', '1')
Registro inserido com sucesso: 334
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('335','Masculino', '1992-06-20', '4.0', '0.0', '4.0', '1', '2')
Registro inserido com sucesso: 335
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('336','Feminino', '1958-01-11', '6.0', '1.0', '7.0', '2', '1')
Registro inserido com sucesso: 336
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('337','Masculino', '1996-06-13', '36.0', '28.0', '64.0', '3', '1')
Registro inserido com sucesso: 337
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('338','Masculino', '1969-05-27', '23.0', '15.0', '38.0', '5', '3')
Registro inserido com sucesso: 338
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('339','Feminino', '1965-02-13', '5.0', '0.0', '5.0', '3', '1')
Registro inserido com sucesso: 339
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('340','Feminino', '1953-01-26', '1.0', '6.0', '7.0', '2', '3')
Registro inserido com sucesso: 340
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('341','Feminino', '1987-07-16', '3.0', '7.0', '10.0', '4', '2')
Registro inserido com sucesso: 341
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('342','Feminino', '2005-02-06', '25.0', '3.0', '28.0', '5', '1')
Registro inserido com sucesso: 342
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('343','Feminino', '2004-05-26', '20.0', '50.0', '70.0', '4', '2')
Registro inserido com sucesso: 343
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('344','Masculino', '1994-09-19', '53.0', '15.0', '68.0', '4', '2')
Registro inserido com sucesso: 344
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('345','Masculino', '1979-11-27', '5.0', '54.0', '59.0', '1', '2')
Registro inserido com sucesso: 345
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('346','Masculino', '1999-06-21', '79.0', '6.0', '85.0', '3', '3')
Registro inserido com sucesso: 346
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('347','Masculino', '1989-02-13', '2.0', '0.0', '2.0', '5', '3')
Registro inserido com sucesso: 347
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('348','Masculino', '1957-11-21', '26.0', '72.0', '98.0', '5', '1')
Registro inserido com sucesso: 348
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('349','Feminino', '2004-08-25', '1.0', '55.0', '56.0', '4', '2')
Registro inserido com sucesso: 349
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('350','Feminino', '1970-08-31', '50.0', '21.0', '71.0', '5', '3')
Registro inserido com sucesso: 350
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('351','Masculino', '1977-07-20', '15.0', '22.0', '37.0', '5', '1')
Registro inserido com sucesso: 351
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('352','Feminino', '1993-10-10', '20.0', '17.0', '37.0', '4', '2')
Registro inserido com sucesso: 352
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('353','Feminino', '1985-01-15', '1.0', '14.0', '15.0', '4', '2')
Registro inserido com sucesso: 353
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('354','Feminino', '1974-07-21', '32.0', '9.0', '41.0', '3', '2')
Registro inserido com sucesso: 354
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('355','Masculino', '1983-11-29', '20.0', '1.0', '21.0', '1', '3')
Registro inserido com sucesso: 355
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('356','Feminino', '1964-02-07', '39.0', '5.0', '44.0', '5', '3')
Registro inserido com sucesso: 356
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('357','Feminino', '2003-07-11', '6.0', '5.0', '11.0', '3', '1')
Registro inserido com sucesso: 357
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('358','Masculino', '1956-11-04', '4.0', '12.0', '16.0', '5', '2')
Registro inserido com sucesso: 358
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('359','Masculino', '1995-04-20', '17.0', '30.0', '47.0', '5', '2')
Registro inserido com sucesso: 359
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('360','Masculino', '1962-05-10', '3.0', '26.0', '29.0', '3', '1')
Registro inserido com sucesso: 360
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('361','Masculino', '1956-03-06', '93.0', '1.0', '94.0', '4', '3')
Registro inserido com sucesso: 361
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('362','Masculino', '1956-07-18', '45.0', '45.0', '90.0', '2', '3')
Registro inserido com sucesso: 362
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('363','Feminino', '1969-05-30', '27.0', '21.0', '48.0', '4', '1')
Registro inserido com sucesso: 363
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('364','Masculino', '1978-04-19', '4.0', '3.0', '7.0', '5', '2')
Registro inserido com sucesso: 364
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('365','Feminino', '2004-02-16', '60.0', '18.0', '78.0', '5', '1')
Registro inserido com sucesso: 365
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('366','Feminino', '1992-08-08', '32.0', '1.0', '33.0', '5', '3')
Registro inserido com sucesso: 366
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('367','Feminino', '1980-08-01', '35.0', '11.0', '46.0', '5', '3')
Registro inserido com sucesso: 367
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('368','Feminino', '1994-12-31', '15.0', '0.0', '15.0', '2', '2')
Registro inserido com sucesso: 368
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('369','Masculino', '1965-01-06', '45.0', '2.0', '47.0', '4', '2')

Registro inserido com sucesso: 369
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('370','Feminino', '1983-07-11', '64.0', '3.0', '67.0', '1', '3')
Registro inserido com sucesso: 370
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('371','Feminino', '1956-10-01', '11.0', '37.0', '48.0', '2', '1')
Registro inserido com sucesso: 371
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('372','Feminino', '1985-01-12', '22.0', '13.0', '35.0', '3', '1')
Registro inserido com sucesso: 372
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('373','Feminino', '2000-06-24', '11.0', '49.0', '60.0', '5', '3')
Registro inserido com sucesso: 373
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('374','Masculino', '2005-09-28', '30.0', '26.0', '56.0', '5', '1')
Registro inserido com sucesso: 374
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('375','Masculino', '1994-06-27', '20.0', '25.0', '45.0', '5', '1')
Registro inserido com sucesso: 375
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('376','Feminino', '1962-10-11', '29.0', '20.0', '49.0', '2', '3')
Registro inserido com sucesso: 376
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('377','Feminino', '1995-06-03', '57.0', '4.0', '61.0', '2', '2')
Registro inserido com sucesso: 377
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('378','Masculino', '1967-02-22', '39.0', '8.0', '47.0', '2', '1')
Registro inserido com sucesso: 378
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('379','Feminino', '1988-04-13', '31.0', '54.0', '85.0', '4', '1')
Registro inserido com sucesso: 379
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('380','Feminino', '1991-10-17', '48.0', '18.0', '66.0', '2', '2')
Registro inserido com sucesso: 380
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('381','Masculino', '1976-03-24', '29.0', '6.0', '35.0', '1', '2')
Registro inserido com sucesso: 381
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('382','Feminino', '1955-04-01', '1.0', '0.0', '1.0', '5', '3')
Registro inserido com sucesso: 382
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('383','Masculino', '1981-01-08', '13.0', '6.0', '19.0', '2', '2')
Registro inserido com sucesso: 383
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('384','Feminino', '1975-06-27', '6.0', '79.0', '85.0', '3', '3')
Registro inserido com sucesso: 384
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('385','Masculino', '2004-04-22', '46.0', '26.0', '72.0', '5', '2')
Registro inserido com sucesso: 385
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('386','Masculino', '1991-08-07', '18.0', '47.0', '65.0', '3', '1')
Registro inserido com sucesso: 386
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('387','Masculino', '2001-03-19', '7.0', '2.0', '9.0', '3', '1')
Registro inserido com sucesso: 387
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('388','Masculino', '1954-08-27', '4.0', '3.0', '7.0', '3', '1')
Registro inserido com sucesso: 388
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('389','Masculino', '1953-05-01', '9.0', '12.0', '21.0', '2', '3')
Registro inserido com sucesso: 389
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('390','Feminino', '1961-01-18', '37.0', '50.0', '87.0', '2', '1')
Registro inserido com sucesso: 390
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('391','Masculino', '1988-02-29', '12.0', '2.0', '14.0', '5', '3')
Registro inserido com sucesso: 391
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('392','Feminino', '1977-08-14', '1.0', '16.0', '17.0', '1', '3')
Registro inserido com sucesso: 392
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('393','Feminino', '1969-04-29', '84.0', '1.0', '85.0', '3', '3')
Registro inserido com sucesso: 393
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('394','Masculino', '1981-09-04', '2.0', '6.0', '8.0', '4', '1')
Registro inserido com sucesso: 394
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('395','Masculino', '1977-02-02', '31.0', '54.0', '85.0', '3', '3')
Registro inserido com sucesso: 395
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('396','Masculino', '1986-09-21', '41.0', '45.0', '86.0', '3', '1')
Registro inserido com sucesso: 396
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('397','Masculino', '1992-04-27', '24.0', '7.0', '31.0', '3', '1')
Registro inserido com sucesso: 397
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('398','Masculino', '1974-05-29', '8.0', '7.0', '15.0', '5', '3')
Registro inserido com sucesso: 398
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('399','Masculino', '1959-01-28', '73.0', '9.0', '82.0', '1', '3')
Registro inserido com sucesso: 399
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('400','Feminino', '1970-05-23', '6.0', '2.0', '8.0', '1', '3')
Registro inserido com sucesso: 400
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('401','Masculino', '1998-07-16', '14.0', '24.0', '38.0', '2', '2')
Registro inserido com sucesso: 401
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('402','Feminino', '1989-09-13', '60.0', '18.0', '78.0', '3', '1')
Registro inserido com sucesso: 402
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('403','Masculino', '1999-09-06', '27.0', '11.0', '38.0', '4', '2')
Registro inserido com sucesso: 403
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('404','Masculino', '1980-08-17', '19.0', '7.0', '26.0', '5', '3')
Registro inserido com sucesso: 404
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('405','Feminino', '1981-07-14', '4.0', '1.0', '5.0', '4', '3')
Registro inserido com sucesso: 405
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('406','Masculino', '1965-02-06', '15.0', '5.0', '20.0', '2', '3')
Registro inserido com sucesso: 406
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('407','Masculino', '1997-11-02', '34.0', '16.0', '50.0', '5', '3')
Registro inserido com sucesso: 407
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('408','Feminino', '1970-11-23', '54.0', '28.0', '82.0', '2', '3')
Registro inserido com sucesso: 408
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('409','Masculino', '1991-12-18', '34.0', '58.0', '92.0', '1', '2')
Registro inserido com sucesso: 409
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('410','Feminino', '1995-04-10', '5.0', '19.0', '24.0', '5', '3')
Registro inserido com sucesso: 410
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('411','Masculino', '1965-05-14', '2.0', '57.0', '59.0', '5', '2')
Registro inserido com sucesso: 411
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('412','Feminino', '1989-07-21', '1.0', '0.0', '1.0', '3', '1')
Registro inserido com sucesso: 412
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('413','Masculino', '1950-02-07', '45.0', '33.0', '78.0', '1', '3')
Registro inserido com sucesso: 413
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('414','Feminino', '1975-09-14', '3.0', '25.0', '28.0', '4', '3')
Registro inserido com sucesso: 414
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('415','Masculino', '1974-09-05', '63.0', '26.0', '89.0', '1', '3')
Registro inserido com sucesso: 415
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('416','Masculino', '1950-01-13', '31.0', '0.0', '31.0', '3', '1')
Registro inserido com sucesso: 416
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('417','Masculino', '1968-04-20', '1.0', '14.0', '15.0', '4', '1')
Registro inserido com sucesso: 417
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('418','Feminino', '1986-11-14', '54.0', '15.0', '69.0', '5', '3')
Registro inserido com sucesso: 418
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('419','Masculino', '1984-06-26', '61.0', '1.0', '62.0', '3', '1')
Registro inserido com sucesso: 419
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('420','Masculino', '1977-08-19', '52.0', '22.0', '74.0', '2', '2')
Registro inserido com sucesso: 420
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('421','Masculino', '1951-05-29', '16.0', '70.0', '86.0', '3', '2')
Registro inserido com sucesso: 421
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('422','Feminino', '2004-10-21', '14.0', '77.0', '91.0', '1', '2')
Registro inserido com sucesso: 422
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('423','Masculino', '1988-05-09', '66.0', '12.0', '78.0', '2', '2')
Registro inserido com sucesso: 423
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('424','Masculino', '1998-08-21', '47.0', '30.0', '77.0', '5', '1')
Registro inserido com sucesso: 424
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('425','Masculino', '1960-10-11', '29.0', '12.0', '41.0', '3', '3')
Registro inserido com sucesso: 425
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('426','Feminino', '1989-10-15', '15.0', '28.0', '43.0', '5', '3')
Registro inserido com sucesso: 426
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('427','Masculino', '1956-03-20', '3.0', '2.0', '5.0', '2', '3')
Registro inserido com sucesso: 427
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('428','Feminino', '1974-10-24', '17.0', '9.0', '26.0', '2', '2')
Registro inserido com sucesso: 428
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('429','Feminino', '1978-06-19', '6.0', '10.0', '16.0', '4', '2')
Registro inserido com sucesso: 429
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('430','Feminino', '1969-12-22', '75.0', '12.0', '87.0', '4', '2')
Registro inserido com sucesso: 430
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('431','Feminino', '1986-07-23', '3.0', '10.0', '13.0', '2', '3')
Registro inserido com sucesso: 431
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('432','Masculino', '1997-03-14', '18.0', '32.0', '50.0', '1', '2')

Registro inserido com sucesso: 432
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('433','Masculino', '1965-12-21', '20.0', '33.0', '53.0', '5', '2')
Registro inserido com sucesso: 433
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('434','Feminino', '1964-02-23', '30.0', '35.0', '65.0', '4', '1')
Registro inserido com sucesso: 434
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('435','Feminino', '1965-11-22', '49.0', '8.0', '57.0', '5', '2')
Registro inserido com sucesso: 435
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('436','Feminino', '1986-09-06', '81.0', '14.0', '95.0', '2', '1')
Registro inserido com sucesso: 436
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('437','Feminino', '1964-09-21', '41.0', '51.0', '92.0', '4', '1')
Registro inserido com sucesso: 437
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('438','Feminino', '1979-11-09', '27.0', '45.0', '72.0', '1', '1')
Registro inserido com sucesso: 438
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('439','Feminino', '1957-06-05', '52.0', '42.0', '94.0', '2', '3')
Registro inserido com sucesso: 439
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('440','Masculino', '1984-03-15', '3.0', '14.0', '17.0', '4', '3')
Registro inserido com sucesso: 440
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('441','Feminino', '1959-03-19', '29.0', '22.0', '51.0', '2', '3')
Registro inserido com sucesso: 441
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('442','Feminino', '1958-12-04', '4.0', '13.0', '17.0', '5', '3')
Registro inserido com sucesso: 442
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('443','Feminino', '1981-11-20', '54.0', '8.0', '62.0', '1', '2')
Registro inserido com sucesso: 443
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('444','Masculino', '1985-01-16', '2.0', '17.0', '19.0', '2', '2')
Registro inserido com sucesso: 444
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('445','Masculino', '1977-02-02', '43.0', '1.0', '44.0', '3', '3')
Registro inserido com sucesso: 445
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('446','Masculino', '1977-06-21', '1.0', '13.0', '14.0', '4', '3')
Registro inserido com sucesso: 446
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('447','Masculino', '1950-07-15', '8.0', '21.0', '29.0', '3', '3')
Registro inserido com sucesso: 447
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('448','Feminino', '2000-03-30', '10.0', '9.0', '19.0', '4', '3')
Registro inserido com sucesso: 448
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('449','Masculino', '1976-03-30', '5.0', '20.0', '25.0', '3', '2')
Registro inserido com sucesso: 449
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('450','Feminino', '1991-10-04', '52.0', '25.0', '77.0', '5', '3')
Registro inserido com sucesso: 450
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('451','Feminino', '1976-09-01', '51.0', '29.0', '80.0', '2', '1')
Registro inserido com sucesso: 451
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('452','Masculino', '1998-10-13', '14.0', '16.0', '30.0', '5', '1')
Registro inserido com sucesso: 452
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('453','Feminino', '1956-04-08', '42.0', '0.0', '42.0', '1', '3')
Registro inserido com sucesso: 453
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('454','Feminino', '2000-10-21', '15.0', '42.0', '57.0', '5', '1')
Registro inserido com sucesso: 454
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('455','Masculino', '1951-04-30', '3.0', '32.0', '35.0', '5', '3')
Registro inserido com sucesso: 455
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('456','Masculino', '1956-09-04', '15.0', '3.0', '18.0', '3', '2')
Registro inserido com sucesso: 456
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('457','Feminino', '1990-02-03', '7.0', '68.0', '75.0', '5', '1')
Registro inserido com sucesso: 457
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('458','Masculino', '1952-08-27', '60.0', '32.0', '92.0', '4', '3')
Registro inserido com sucesso: 458
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('459','Masculino', '1999-06-17', '23.0', '50.0', '73.0', '3', '2')
Registro inserido com sucesso: 459
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('460','Feminino', '1955-03-25', '13.0', '48.0', '61.0', '3', '3')
Registro inserido com sucesso: 460
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('461','Feminino', '1983-09-12', '11.0', '28.0', '39.0', '2', '1')
Registro inserido com sucesso: 461
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('462','Masculino', '1952-02-22', '82.0', '10.0', '92.0', '3', '3')
Registro inserido com sucesso: 462
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('463','Masculino', '1998-10-27', '2.0', '0.0', '2.0', '2', '3')
Registro inserido com sucesso: 463
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('464','Masculino', '1962-12-28', '32.0', '0.0', '32.0', '2', '3')
Registro inserido com sucesso: 464
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('465','Feminino', '1988-10-13', '19.0', '16.0', '35.0', '2', '1')
Registro inserido com sucesso: 465
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('466','Feminino', '1998-01-13', '35.0', '14.0', '49.0', '3', '3')
Registro inserido com sucesso: 466
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('467','Masculino', '1965-05-15', '61.0', '16.0', '77.0', '5', '3')
Registro inserido com sucesso: 467
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('468','Masculino', '1995-02-16', '67.0', '3.0', '70.0', '4', '2')
Registro inserido com sucesso: 468
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('469','Feminino', '1979-06-02', '2.0', '25.0', '27.0', '4', '3')
Registro inserido com sucesso: 469
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('470','Feminino', '1960-08-03', '1.0', '0.0', '1.0', '5', '1')
Registro inserido com sucesso: 470
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('471','Masculino', '1988-12-07', '11.0', '79.0', '90.0', '3', '2')
Registro inserido com sucesso: 471
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('472','Masculino', '1982-11-11', '11.0', '5.0', '16.0', '5', '3')
Registro inserido com sucesso: 472
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('473','Masculino', '2001-10-06', '23.0', '46.0', '69.0', '2', '2')

Registro inserido com sucesso: 473
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('474','Feminino', '1977-10-22', '24.0', '4.0', '28.0', '4', '3')
Registro inserido com sucesso: 474
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('475','Masculino', '1964-05-01', '5.0', '9.0', '14.0', '2', '3')
Registro inserido com sucesso: 475
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('476','Feminino', '1969-04-21', '13.0', '6.0', '19.0', '5', '2')
Registro inserido com sucesso: 476
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('477','Feminino', '2004-10-07', '3.0', '1.0', '4.0', '2', '1')
Registro inserido com sucesso: 477
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('478','Feminino', '1993-07-10', '29.0', '30.0', '59.0', '4', '1')
Registro inserido com sucesso: 478
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('479','Masculino', '1975-08-14', '50.0', '43.0', '93.0', '5', '1')
Registro inserido com sucesso: 479
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('480','Masculino', '1956-10-25', '32.0', '9.0', '41.0', '2', '2')
Registro inserido com sucesso: 480
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('481','Feminino', '2005-02-09', '36.0', '1.0', '37.0', '3', '2')
Registro inserido com sucesso: 481
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('482','Masculino', '1992-05-07', '13.0', '21.0', '34.0', '5', '3')
Registro inserido com sucesso: 482
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('483','Masculino', '1976-07-04', '46.0', '50.0', '96.0', '5', '3')
Registro inserido com sucesso: 483
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('484','Feminino', '1990-06-19', '62.0', '16.0', '78.0', '1', '1')
Registro inserido com sucesso: 484
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('485','Feminino', '1999-04-18', '4.0', '30.0', '34.0', '3', '2')
Registro inserido com sucesso: 485
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('486','Masculino', '1999-03-02', '1.0', '0.0', '1.0', '2', '2')
Registro inserido com sucesso: 486
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('487','Feminino', '2002-06-26', '49.0', '35.0', '84.0', '5', '2')
Registro inserido com sucesso: 487
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('488','Feminino', '1953-10-28', '31.0', '0.0', '31.0', '5', '3')
Registro inserido com sucesso: 488
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('489','Feminino', '1984-02-22', '11.0', '43.0', '54.0', '5', '1')
Registro inserido com sucesso: 489
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('490','Masculino', '2003-09-15', '1.0', '2.0', '3.0', '2', '3')
Registro inserido com sucesso: 490
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('491','Masculino', '1981-05-27', '16.0', '1.0', '17.0', '3', '1')
Registro inserido com sucesso: 491
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('492','Feminino', '1989-10-25', '1.0', '23.0', '24.0', '5', '3')
Registro inserido com sucesso: 492
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('493','Feminino', '2001-09-21', '19.0', '6.0', '25.0', '4', '2')
Registro inserido com sucesso: 493
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('494','Feminino', '1977-11-07', '31.0', '11.0', '42.0', '4', '1')
Registro inserido com sucesso: 494
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('495','Feminino', '1974-06-03', '52.0', '28.0', '80.0', '1', '1')
Registro inserido com sucesso: 495
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('496','Masculino', '1959-02-09', '13.0', '51.0', '64.0', '1', '1')
Registro inserido com sucesso: 496
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('497','Masculino', '1962-01-06', '57.0', '23.0', '80.0', '3', '2')
Registro inserido com sucesso: 497
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('498','Masculino', '1958-09-28', '5.0', '3.0', '8.0', '1', '2')
Registro inserido com sucesso: 498
insert into jogador (cod_jogador, genero, data_nascimento, num_vitorias, num_derrotas, total_partidas, cod_pais, cod_jogo)
                     values ('499','Feminino', '2004-10-08', '1.0', '86.0', '87.0', '5', '2')
Registro inserido com sucesso: 499

In [164]:
## respostas do desafio

##1 select cod_pais, avg(num_vitorias) from desafio_modulo2.jogador group by cod_pais;
##  Chile
##2 select cod_pais, sum(num_derrotas) from desafio_modulo2.jogador where cod_jogo = 2 group by cod_pais; 
##  Paraguai
##3 select cod_jogo, sum(total_partidas) from desafio_modulo2.jogador group by cod_jogo; 
##  Xadrez
##4 select genero, cod_jogo, count(1) from desafio_modulo2.jogador where genero = 'feminino' group by genero, cod_jogo;
##  DAMA